.createContainer {
  padding: 0 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;

  .formGroup {
    width: 100%;
  }

  .customer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .customerInfo {
      display: flex;
      margin-right: 10px;
    }

    .customerContact {
      display: flex;
      width: 100%;
    }
  }

  .widthHalf {
    width: 50%;
  }

  .widthFull {
    width: 100%;

    :global {
      .ant-space-item {
        width: 100%;
      }
    }
  }

  .marginRight {
    margin-right: 5px;
  }

  .marginBottom {
    margin-bottom: 5px;
  }
}

