.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container {
  .table {
    border-radius: 10px;
  }

  .filterBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filterBox {
      margin-bottom: 20px;
    }
  }

}
